<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>New Game</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label>Name:</ion-label>
      <ion-input [(ngModel)]="game.name" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Quantity of numbers (1-10):</ion-label>
      <ion-select [(ngModel)]="game.numbers" value="5" okText="Ok" cancelText="Cancel">
          <ion-select-option value="1">1</ion-select-option>
          <ion-select-option value="2">2</ion-select-option>
          <ion-select-option value="3">3</ion-select-option>
          <ion-select-option value="4">4</ion-select-option>
          <ion-select-option value="5">5</ion-select-option>
          <ion-select-option value="6">6</ion-select-option>
          <ion-select-option value="7">7</ion-select-option>
          <ion-select-option value="8">8</ion-select-option>
          <ion-select-option value="9">9</ion-select-option>
          <ion-select-option value="10">10</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Random # between:</ion-label>
      <ion-input [(ngModel)]="game.min_number" type="number"></ion-input>
      <ion-label>and</ion-label>
      <ion-input [(ngModel)]="game.max_number" type="number"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button expand="full" shape="round" color="secondary" (click)="save()">Save</ion-button>
</ion-content>