.play_icon {
    color: green;
}
.delete_icon {
    color: red;
}
.grid_odd {
    background-color: #d9d9d9;
}
.grid_even {
    background-color:none;
}
.last_play_time {
    font-style: italic;
    font-size: small;
}
.last_result {
    font-size: small;
}